<!-- include heaer -->
<%-include('include/_header')%>
<!-- include heaer -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/">
          <i class="fa-solid fa-angles-left fas"></i>
          All Users
        </a>
      </div>
    </div>
    <div class="form-title text.center">
      <h2 class="text-dark">New User</h2>
      <span class="text-light"> User the blow form to creat a new account</span>
    </div>
    <!-- form handling -->
    <!-- add user form -->
    <%-include('include/_form')%>

  </div>
</main>
<!-- include _footer -->
<%-include('include/_footer')%>
<!-- include _footer -->